@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Google Sans";
  src: url("/assets/fonts/GoogleSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/GoogleSans-Medium.woff") format("woff");
  font-weight: 400;
  font-style: 400;
}

:root {
  /* Colors */
  --dark-blue: #142649;
  --invert-blue: rgba(4, 67, 251, 1);
  --invert-cyan: rgba(0, 235, 255, 1);
  --invert-pink: rgba(255, 0, 124, 1);
  --invert-yellow: rgba(255, 164, 13, 1);
  --white: #ffffff;
  /* Font Families */
  --amiri: "Amiri";
  --roboto: "Roboto";
  --google-sans: "Google Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  align-items: center;
  width: 90rem;
  height: 246.1875rem;
  background: url("./assets/bg-website.png") no-repeat center center / cover;
  color: var(--white);
  font-family: var(--google-sans), sans-serif;
  overflow-x: hidden;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

header {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-item {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font: normal 500 1.125rem / normal var(--google-sans), sans-serif;
}

/* Custom padding inside header */
header img,
.footer-chat {
  padding-left: 120px;
}
.nav-item:last-child,
.soc-med {
  padding-right: 120px;
}

.landing {
  width: 100vw;
  height: 500px; /* adjust */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.glow-text {
  font-size: 15rem;
  font-family: var(--amiri), sans-serif;
  font-weight: medium;
  line-height: normal;
  text-align: center;
  letter-spacing: -5px;
  margin: 0 auto;
  background: linear-gradient(90deg, #0043fb, #00ebff, #ffa40d, #ff007c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.glow-text::before {
    content: "Quandary";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    filter: blur(6px);
    opacity: 0.8;
    z-index: -1;
}

.glow-text::after {
    content: "Quandary";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    filter: blur(10px) brightness(1.2);
    opacity: 0.5;
    z-index: -2;
}
.container-header h3 {
  color: #ffffff;
  font-family: "Amiri", serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  margin-top: -120px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8),
    0 0 12px rgba(255, 255, 255, 0.6), 0 0 16px rgba(0, 200, 255, 0.3);
  opacity: 1;
}

.sponsor-text {
  text-align: center;
  text-shadow: 0 0 7.6px var(--white);
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 100px;
}

.landing-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 24px;
  font: normal 400 1.5rem / normal var(--google-sans), sans-serif;
  border: 1px solid var(--white);
  border-radius: 40px;
  background-color: transparent;
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.landing-btn:hover,
.order-btn > button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.sponsors {
  margin-top: 25%; /* adjust */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sponsors {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-text {
  font: normal 700 5rem / normal var(--amiri), sans-serif;
}

.sponsor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.sponsor-img {
  width: 100px;
  height: 55px;
}

/* adjust */
#star-orange {
  transform: rotate(-5deg);
  position: relative;
  bottom: 130px;
  right: 10px;
}

#star-green {
  transform: rotate(-12deg);
  position: relative;
  top: 170px;
  left: 40px;
}

.about {
  width: 100vw;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.container-about {
  margin-left: 10%;
}

.header {
  font: normal 700 5rem / normal var(--amiri), sans-serif;
}

.about-desc {
  width: 600px;
  color: #fff;
  text-align: justify;
  font: normal 400 24px/35px var(--google-sans);
  padding-top: 60px;
  margin-left: 20%;
}

.quandary {
  text-transform: uppercase;
}

.merch-section {
  margin-top: 40%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.merch-header {
  font: normal 700 2rem / normal var(--amiri), sans-serif;
}

.merch-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.merch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 350px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  margin: 30px 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1.5px; /* control the border thickness */
  background: linear-gradient(
    90deg,
    var(--invert-blue),
    var(--invert-cyan),
    var(--invert-pink),
    var(--invert-yellow),
    var(--invert-pink)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.colored-text {
  background: var(
    --gradient,
    linear-gradient(
      266deg,
      #ff007c -0.43%,
      #ffa40d 29.87%,
      #00ebff 64.6%,
      #0443fb 99.55%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--amiri), sans-serif;
}

.order-btn {
  display: inline-flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.order-btn button {
  font: normal 400 1.5rem/normal var(--google-sans), sans-serif;
  margin-top: 100px;
  border-radius: 39px;
  border: 1px solid #fff;
  padding: 10px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 5.62rem;
}

.footer-chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-chat > img {
  width: 14.625rem;
  height: 3rem;
}

.footer-chat > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1.75rem 0.5rem 1.5rem;
  width: 190px;
  position: relative;
}

.footer-chat > a::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1.5px; /* control the border thickness */
  background: linear-gradient(
    90deg,
    var(--invert-blue),
    var(--invert-cyan),
    var(--invert-pink),
    var(--invert-yellow),
    var(--invert-pink)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.footer-ref {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  text-align: left;
}

.footer-chat > a,
.section-ref-item > a {
  text-decoration: none;
  color: var(--white);
}

.section-header {
    margin-bottom: 10px;
}

.section-ref-item {
    display: flex;
    flex-direction: column;
}

.soc-med {
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.jump-links {
    margin-bottom: 10px;
}