@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Readex+Pro:wght@160..700&display=swap');

:root {
    --text-color-white: #FFFFFF;
    --text-color-inverted-cyan:#00EBFF;
    --font-headings-amiri: "Amiri";
    --font-text-readex: "Readex Pro";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container-timer {
    width: max-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    transform: scale(1.75);
    position: relative;
    background: linear-gradient(to right bottom, #18264A 0%, #343D4C 98%);
    border-radius: 1.25em;
}

.container-timer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: red;*/
    z-index: -1;
}

.time {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1.25em;
    transform: translateY(-5px);
}

.time h2 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0 0 5px;
}

.time > h2, 
.time > small {
    color: var(--text-color-white);
    font-family: var(--font-headings-amiri), sans-serif;
}

span {
    color: var(--text-color-inverted-cyan);
}

small {
    font-size: 1rem;
    font-weight: 700;
}

.text-hype {
    color: var(--text-color-white);
    position: absolute;
    top: 20%;
    font-size: 3rem;
    font-family: var(--font-text-readex), sans-serif;
    font-weight: 700;
}

.quandary-logo {
    position: absolute;
    top: 3%;
}
