@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Readex+Pro:wght@160..700&display=swap');

:root {
    --text-color-white: #FFFFFF;
    --font-amiri: "Amiri";
    --font-readex: "Readex Pro";
    --gradient-color-1: #FBBC04;
    --gradient-color-2: #E2AFFD;
    --gradient-color-3: #AFC1FD;
    --gradient-color-4: #AFFDBA;
    --gradient-color-5: #51F2FF;
    --gradient-color-6: #6E93FF;
    --scale-factor-xl: 2.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: url("./assets/bg-1.png") no-repeat fixed center / cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    z-index: 9999;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: red;
    z-index: 9999;
}

.container-timer {
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    transform: scale(var(--scale-factor-xl)) translateX(0.5%);
    
}

.container-timer::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1.25em;
    padding: 2px; /* control the border thickness */
    background: linear-gradient(to bottom, var(--gradient-color-1) 0%, var(--gradient-color-5) 52%, var(--gradient-color-6) 100%);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.time {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1.25em;
    transform: translateY(-5px);
}

.time h2 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0 0 -10px;
}

.time > h2, 
.time > small {
    color: var(--text-color-white);
    font-family: var(--font-readex), sans-serif;
}

small {
    font-size: 1rem;
    font-weight: 300;
}

.text-header {
    position: absolute;
    text-align: center;
    color: var(--text-color-white);
    position: absolute;
    top: 20%;
    font-size: 3rem; 
    font-family: var(--font-amiri), sans-serif; 
    font-weight: 400;
    background-image: 
        linear-gradient(
            to right, 
            var(--gradient-color-1) 0%, 
            var(--gradient-color-2) 42%, 
            var(--gradient-color-3) 74%, 
            var(--gradient-color-4) 100%
        );
    background-clip: text;
    color: transparent;
}

.quandary-logo {
    display: flex;
    position: absolute;
    top: 3%;
}

.container-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    gap: 1.25em;
    align-items: center;
    justify-content: center;
}

.icons {
    fill: var(--text-color-white);
    width: 64px;
    height: 64px;
}
